.thesewers {
    height: 400px;
    width: 400px;
}

.krobus {
    height: 150px;
    width: 250px;
}

.dwarf {
    height: 150px;
    width: 250px;
}

.trashbear {
    height: 150px;
    width: 250px;
}

.uncertainty {
    height: 150px;
    width: 250px;
}

.gate {
    height: 150px;
    width: 250px;
}
.locationtable {
    height: 85px;
    width: 1000px;
}